.root {
    -fx-padding: 20px;
    -fx-background-color: #121212;
    -fx-font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #e0e0e0;
}

.text-field, .combo-box {
    -fx-pref-width: 200px;
    -fx-font-size: 14px;
    -fx-border-color: #333333;
    -fx-border-radius: 5px;
    -fx-background-color: #1e1e1e;
    -fx-text-fill: #e0e0e0;
}

.text-field:focused, .combo-box:focused {
    -fx-border-color: #90caf9;
}

.button {
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #454545;
}

.button:pressed {
    -fx-background-color: #232323;
}

.radio-button {
    -fx-padding: 5px 15px;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-text-fill: #e0e0e0;
}

.radio-button .radio {
    -fx-background-radius: 50%;
    -fx-border-color: #616161;
    -fx-border-radius: 50%;
    -fx-background-color: #1e1e1e;
    -fx-border-width: 2px;
    -fx-padding: 5px;
}

.radio-button:selected .radio {
    -fx-border-color: #90caf9;
}

.radio-button:selected .radio > .dot {
    -fx-background-color: #90caf9;
    -fx-background-insets: 3px;
    -fx-background-radius: 50%;
}

.radio-button:focused .radio {
    -fx-border-color: #64b5f6;
}

.combo-box .list-cell {
    -fx-text-fill: white;
    -fx-background-color: #121212;
}

.combo-box .list-cell:filled:selected, .combo-box .list-cell:filled:selected:hover {
    -fx-background-color: #333333;
    -fx-text-fill: white;
}

.combo-box-base .arrow-button .arrow {
    -fx-background-color: white;
}

.text-field:hover, .combo-box:hover {
    -fx-border-color: #90caf9;
}
